/* style.css */

/* Body background */
body {
    background-color: #f2f2f2;
  }
  
  /* Header styles */
  header {
    background-color: #0099cc;
    padding: 20px;
    color: #fff;
  }

  img {
    width: 300px; 
    height: auto; 
    max-width: 100%; 
  }

  video {
    width: 300px; 
    height: auto; 
    max-width: 100%; 
  }
  
  
  /* Main content styles */
  main {
    margin-top: 20px;
  }
  
  /* Section styles */
  section {
    margin-bottom: 40px;
  }
  
  /* Heading styles */
  h1 {
    color: #070808;
  }

  h2 {
    color: #0099cc;
  }
  
  /* Text styles */
  p {
    color: #555;
  }
  
  /* Audio and video container styles */
  .col-md-4 {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  /* Button styles */
  .btn-primary {
    background-color: #0099cc;
    border-color: #0099cc;
  }
  
  .btn-primary:hover {
    background-color: #0077b3;
    border-color: #0077b3;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 204, 0.5);
  }
  
  